@import "tailwindcss";
@import "tw-animate-css";
/* 
:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.57 0.20 283.26);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.82 0.07 249.99);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.82 0.02 90.54);
  --muted-foreground: oklch(0.54 0 0);
  --accent: oklch(0.65 0.06 117.02);
  --accent-foreground: oklch(1.00 0 0);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.87 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.57 0.20 283.26);
  --chart-1: oklch(0.57 0.20 283.26);
  --chart-2: oklch(0.53 0.17 314.68);
  --chart-3: oklch(0.34 0.18 301.34);
  --chart-4: oklch(0.67 0.14 261.15);
  --chart-5: oklch(0.59 0.10 245.35);
  --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.57 0.20 283.26);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.65 0.06 117.02);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.87 0 0);
  --sidebar-ring: oklch(0.57 0.20 283.26);

  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;

  --radius: 0.5rem;
  
  --shadow-2xs: 0px 5px 10px -2px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0px 5px 10px -2px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0px 5px 10px -2px oklch(0.00 0 0 / 0.10), 0px 1px 2px -3px oklch(0.00 0 0 / 0.10);
  --shadow: 0px 5px 10px -2px oklch(0.00 0 0 / 0.10), 0px 1px 2px -3px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0px 5px 10px -2px oklch(0.00 0 0 / 0.10), 0px 2px 4px -3px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0px 5px 10px -2px oklch(0.00 0 0 / 0.10), 0px 4px 6px -3px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0px 5px 10px -2px oklch(0.00 0 0 / 0.10), 0px 8px 10px -3px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0px 5px 10px -2px oklch(0.00 0 0 / 0.25);
  
}

.dark {
  --background: oklch(0.23 0.01 268.25);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.32 0.01 229.15);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.32 0.01 229.15);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.57 0.20 283.26);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.34 0.18 301.34);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.39 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.67 0.14 261.15);
  --accent-foreground: oklch(0.92 0 0);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.39 0 0);
  --input: oklch(0.39 0 0);
  --ring: oklch(0.57 0.20 283.26);
  --chart-1: oklch(0.57 0.20 283.26);
  --chart-2: oklch(0.53 0.17 314.68);
  --chart-3: oklch(0.34 0.18 301.34);
  --chart-4: oklch(0.67 0.14 261.15);
  --chart-5: oklch(0.59 0.10 245.35);
  --sidebar: oklch(0.23 0.01 268.25);
  --sidebar-foreground: oklch(0.92 0 0);
  --sidebar-primary: oklch(0.57 0.20 283.26);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.67 0.14 261.15);
  --sidebar-accent-foreground: oklch(0.92 0 0);
  --sidebar-border: oklch(0.39 0 0);
  --sidebar-ring: oklch(0.57 0.20 283.26);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
} */

/* :root {
  --background: oklch(1.00 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.65 0.24 26.92);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.97 0.21 109.74);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.96 0 0);
  --muted-foreground: oklch(0.32 0 0);
  --accent: oklch(0.56 0.24 260.83);
  --accent-foreground: oklch(1.00 0 0);
  --destructive: oklch(0 0 0);
  --border: oklch(0 0 0);
  --input: oklch(0 0 0);
  --ring: oklch(0.65 0.24 26.92);
  --chart-1: oklch(0.65 0.24 26.92);
  --chart-2: oklch(0.97 0.21 109.74);
  --chart-3: oklch(0.56 0.24 260.83);
  --chart-4: oklch(0.73 0.25 142.50);
  --chart-5: oklch(0.59 0.27 328.36);
  --sidebar: oklch(0.96 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.65 0.24 26.92);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.56 0.24 260.83);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.65 0.24 26.92);

  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;

  --radius: 0px;
  
  --shadow-2xs: 4px 4px 0px 0px oklch(0.00 0 0 / 0.50);
  --shadow-xs: 4px 4px 0px 0px oklch(0.00 0 0 / 0.50);
  --shadow-sm: 4px 4px 0px 0px oklch(0.00 0 0 / 1.00), 4px 1px 2px -1px oklch(0.00 0 0 / 1.00);
  --shadow: 4px 4px 0px 0px oklch(0.00 0 0 / 1.00), 4px 1px 2px -1px oklch(0.00 0 0 / 1.00);
  --shadow-md: 4px 4px 0px 0px oklch(0.00 0 0 / 1.00), 4px 2px 4px -1px oklch(0.00 0 0 / 1.00);
  --shadow-lg: 4px 4px 0px 0px oklch(0.00 0 0 / 1.00), 4px 4px 6px -1px oklch(0.00 0 0 / 1.00);
  --shadow-xl: 4px 4px 0px 0px oklch(0.00 0 0 / 1.00), 4px 8px 10px -1px oklch(0.00 0 0 / 1.00);
  --shadow-2xl: 4px 4px 0px 0px oklch(0.00 0 0 / 2.50);
  
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1.00 0 0);
  --card: oklch(0.32 0 0);
  --card-foreground: oklch(1.00 0 0);
  --popover: oklch(0.32 0 0);
  --popover-foreground: oklch(1.00 0 0);
  --primary: oklch(0.70 0.19 23.04);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.97 0.20 109.61);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.32 0 0);
  --muted-foreground: oklch(0.85 0 0);
  --accent: oklch(0.68 0.18 251.63);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(1.00 0 0);
  --border: oklch(1.00 0 0);
  --input: oklch(1.00 0 0);
  --ring: oklch(0.70 0.19 23.04);
  --chart-1: oklch(0.70 0.19 23.04);
  --chart-2: oklch(0.97 0.20 109.61);
  --chart-3: oklch(0.68 0.18 251.63);
  --chart-4: oklch(0.74 0.23 142.87);
  --chart-5: oklch(0.61 0.25 328.13);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(1.00 0 0);
  --sidebar-primary: oklch(0.70 0.19 23.04);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.68 0.18 251.63);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(1.00 0 0);
  --sidebar-ring: oklch(0.70 0.19 23.04);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
} */

:root {
  --background: oklch(0.98 0.01 25.23);
  --foreground: oklch(0.20 0.01 18.05);
  --card: oklch(0.95 0.01 25.23);
  --card-foreground: oklch(0.18 0.01 29.18);
  --popover: oklch(0.94 0.01 25.23);
  --popover-foreground: oklch(0.22 0.01 29.09);
  --primary: oklch(0.55 0.22 27.03);
  --primary-foreground: oklch(0.98 0.01 100.72);
  --secondary: oklch(0.52 0.14 247.51);
  --secondary-foreground: oklch(0.98 0.01 100.72);
  --muted: oklch(0.91 0.01 25.23);
  --muted-foreground: oklch(0.38 0.01 17.71);
  --accent: oklch(0.86 0.04 33.45);
  --accent-foreground: oklch(0.18 0.01 29.18);
  --destructive: oklch(0.56 0.23 29.23);
  --border: oklch(0.84 0.01 25.22);
  --input: oklch(0.80 0.01 25.22);
  --ring: oklch(0.50 0.12 244.86);
  --chart-1: oklch(0.58 0.23 27.06);
  --chart-2: oklch(0.61 0.18 251.95);
  --chart-3: oklch(0.72 0.15 83.50);
  --chart-4: oklch(0.67 0.15 144.89);
  --chart-5: oklch(0.75 0.15 304.74);
  --sidebar: oklch(0.97 0 0);
  --sidebar-foreground: oklch(0.20 0.01 18.05);
  --sidebar-primary: oklch(0.52 0.14 247.51);
  --sidebar-primary-foreground: oklch(0.98 0.01 100.72);
  --sidebar-accent: oklch(0.69 0.14 79.70);
  --sidebar-accent-foreground: oklch(0.20 0.01 18.05);
  --sidebar-border: oklch(0.87 0.01 25.23);
  --sidebar-ring: oklch(0.52 0.14 247.51);

  --font-sans: Outfit, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Geist Mono, monospace;

  --radius: 0rem;
  
  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
  
}

.dark {
  --background: oklch(0.12 0.01 38.49);
  --foreground: oklch(0.95 0.01 25.23);
  --card: oklch(0.18 0.01 29.18);
  --card-foreground: oklch(0.95 0.01 25.23);
  --popover: oklch(0.18 0.01 29.18);
  --popover-foreground: oklch(0.95 0.01 25.23);
  --primary: oklch(0.65 0.23 27.09);
  --primary-foreground: oklch(0.98 0.01 100.72);
  --secondary: oklch(0.50 0.14 249.16);
  --secondary-foreground: oklch(0.98 0.01 100.72);
  --muted: oklch(0.20 0.01 18.05);
  --muted-foreground: oklch(0.70 0.01 25.22);
  --accent: oklch(0.59 0.12 78.19);
  --accent-foreground: oklch(0.95 0.01 25.23);
  --destructive: oklch(0.56 0.23 29.23);
  --border: oklch(0.38 0.01 17.71);
  --input: oklch(0.38 0.01 17.71);
  --ring: oklch(0.49 0.14 250.75);
  --chart-1: oklch(0.64 0.25 26.85);
  --chart-2: oklch(0.66 0.19 250.17);
  --chart-3: oklch(0.78 0.16 87.01);
  --chart-4: oklch(0.68 0.15 144.94);
  --chart-5: oklch(0.75 0.15 304.74);
  --sidebar: oklch(0.14 0.01 33.25);
  --sidebar-foreground: oklch(0.95 0.01 25.23);
  --sidebar-primary: oklch(0.50 0.14 249.16);
  --sidebar-primary-foreground: oklch(0.98 0.01 100.72);
  --sidebar-accent: oklch(0.59 0.12 78.19);
  --sidebar-accent-foreground: oklch(0.95 0.01 25.23);
  --sidebar-border: oklch(0.32 0.01 27.45 / 30%);
  --sidebar-ring: oklch(0.50 0.14 249.16);
  
  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}